<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<style>html,body,#react-root {width: 100%;height: 100%;margin: 0px;overflow-x: hidden;}</style>
	</head>
	
	<body>
		<div id="react-root"></div>
	</body>
</html>